<!DOCTYPE html>
<html lang="en" {{- if not .Session}}class="anon"{{end}}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Victoria Makerspace member website">
    <link rel="apple-touch-icon" href="/logo-square-plain-192.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/logo-square-plain-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>{{if .Title}}{{.Title}} - {{end}}Victoria Makerspace</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="navbar navbar-light fixed-top" id="ms-header">
    <div class="container d-flex">
      <a class="mr-auto" href="/" title="Home">
        <img class="logo-large" src="/logo-wide-text.svg" alt="Victoria Makerspace">
        <img class="logo-small" src="/logo-square-text.svg" alt="Victoria Makerspace">
      </a>
{{if .Session}}
      <a id="talk-link" class="nav-link glyphicons glyphicons-conversation" href="{{.Talk.Path}}" title="Talk forum"></a>
      <button class="nav-link glyphicons glyphicons-menu-hamburger" type="button" data-toggle="collapse" data-target="#ms-header nav" aria-expanded="false"></button>
      <a class="member-icon nav-link{{if eq .Name "dashboard"}} active{{end}}" href="/member/dashboard" title="Dashboard">
  {{with .Member.Avatar_url 40}}
        <img src="{{.}}">
  {{else}}
        <div class="glyphicons glyphicons-user"></div>
  {{end}}
      </a>
{{end}}
      <a class="anon nav-link" href="{{.Talk.Path}}"><span class="glyphicons glyphicons-conversation"></span>Talk</a>
      <a class="anon nav-link" href="{{if ne .Name "index"}}/{{end}}#shop-features"><span class="glyphicons glyphicons-hand-saw"></span>About</a>
      <a class="anon nav-link{{if eq .Name "join"}} active{{end}}" href="/join"><span class="glyphicons glyphicons-user-add"></span>Join</a>
      <a class="anon nav-link{{if eq .Name "sso"}} active{{end}}" href="/sso"><span class="glyphicons glyphicons-log-in"></span>Sign in</a>
{{if .Session}}
      <nav class="flex-column collapse">
  {{if .Member.Admin}}
        <a class="nav-link{{if eq .Name "admin"}} active{{end}}" href="/admin">
          <span class="glyphicons glyphicons-wrench"></span>Admin panel
        </a>
  {{end}}
        <a class="nav-link{{if eq .Name "billing"}} active{{end}}" href="/member/billing"><span class="glyphicons glyphicons-pen"></span>Billing</a>
        <a class="nav-link{{if eq .Name "member-list"}} active{{end}}" href="/member/list"><span class="glyphicons glyphicons-group"></span>Members</a>
        <!--
        <a class="nav-link{{if eq .Name "tools"}} active{{end}}" href="/tools"><span class="glyphicons glyphicons-claw-hammer"></span> Tools</a>
        <a class="nav-link{{if eq .Name "classes"}} active{{end}}" href="/classes"><span class="glyphicons glyphicons-book-open"></span> Classes</a>
        -->
        <a class="nav-link{{if eq .Name "storage"}} active{{end}}" href="/member/storage"><span class="glyphicons glyphicons-cargo"></span>Storage</a>
        <a class="nav-link{{if eq .Name "account"}} active{{end}}" href="/member/account"><span class="glyphicons glyphicons-cogwheel"></span>Account</a>
        <form action="/sso/sign-out" method="post" id="sign-out">
          <label>Sign out
            <button name="sign-out" type="submit" value="{{.Member.Id}}" class="nav-link glyphicons glyphicons-exit"></button>
          </label>
        </form>
      </nav>
{{end}}
    </div>
  </header>
