html.anon .session,
html:not(.anon) .anon {
    display: none !important;
}

.makerspace-top-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
}
.makerspace-top-menu a {
    padding: 0.5rem;
    display: block;
    transition: all 0.2s ease-in-out;
    color: rgba(0,0,0,0.5);
}
.makerspace-top-menu a:hover, .makerspace-top-menu a:focus {
    color: rgba(0,0,0,0.9);
    background-color: rgba(2,117,216,1.0);
    min-width: 8rem;
}
.makerspace-talk-header a:focus {
    box-shadow: 0 0 0 2px rgba(2,117,216,0.25);
}
.makerspace-talk-header a .glyphicons + span {
    display: none;
    margin-left: 0.5rem;
    font-weight: bold;
}
.makerspace-talk-header a:hover .glyphicons + span,
.makerspace-talk-header a:focus .glyphicons + span {
    display: inline;
}
