html.anon .session,
html:not(.anon) .anon {
    display: none !important;
}

body {
    position: relative;
    padding-bottom: 3rem;
    color: rgb(90,90,90);
}
a:focus, a:hover {
    text-decoration: none;
}
form p {
    margin-bottom: 0.5rem;
}
label {
    margin: 0;
}

/* Makerspace header */

#ms-header {
    background: rgba(247,247,247,0.85);
    padding-bottom: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
#ms-header > .container {
    height: 3rem;
    padding: 0;
}

#ms-header > .container > .nav-link {
    margin-top: 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
}

.logo-large, .logo-small {
    height: 2.5rem;
}

#ms-header .nav-link.member-icon {
    margin-top: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
}

#ms-header .nav-link {
    font-weight: bold;
    line-height: 2rem;
    padding: 0.25rem 0.5rem 0 0.5rem;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
    color: rgba(0,0,0,0.5) !important;
}
#ms-header button.nav-link {
    background: none;
    border: 0;
    padding-top: 0;
    cursor: pointer;
}
#ms-header .nav-link:hover, #ms-header .nav-link:focus,
#ms-header .nav-link.active:hover, #ms-header .nav-link.active:focus {
    color: rgba(0,0,0,0.9) !important;
    background-color: rgba(2,117,216,1.0);
}
#ms-header .nav-link:focus {
    box-shadow: 0 0 0 2px rgba(2,117,216,0.25);
}
#ms-header .nav-link.active {
    color: rgba(0,0,0,0.7) !important;
    background-color: rgba(2,117,216,0.5);
}
#ms-header .nav-link .glyphicons {
    margin-right: 0.5rem;
}

#ms-header nav {
    position: absolute;
    top: 3rem;
    right: 0;
    border-radius: 0 0 0.75rem 0.25rem;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    padding: 0;
    background: rgba(247,247,247,0.85);
    min-width: 12rem;
}
#ms-header nav.show {
    display: flex;
}
#sign-out {
    text-align: right;
}
#sign-out label {
    cursor: pointer;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}
#sign-out label:hover, #sign-out label:focus {
    color: rgba(0,0,0,0.7);
}
#sign-out .nav-link {
    display: inline-block;
    border-radius: 0.75rem 0;
    height: inherit;
    padding: 0 0.5rem;
}

/* Other */

.member-icon {
    position: relative;
    display: block;
    width: 3rem;
    padding: 0;
    line-height: 2rem;
}
.member-icon img {
    width: 100%;
    border-radius: 50%;
}
.member-icon .glyphicons {
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}
.member-icon .glyphicons::before {
    position: absolute;
    left: 0.2rem;
    bottom: 2px;
}
.member-icon-large {
    height: 120px;
    width: 120px;
    line-height: 5rem;
}
img.member-icon-large,
.member-icon-large .glyphicons {
    border-radius: 0.25rem;
}
.member-icon-large .glyphicons {
    font-size: 110px;
}
.member-icon-large .glyphicons::before {
    bottom: 0;
}
.member-list-heading {
    z-index: 1000;
    top: 3.5rem;
}
.member-list-heading .row {
    padding: 1rem 0 0.75rem 0;
    background: rgba(255,255,255,0.8);
}
.member-list-heading .dropdown {
    z-index: 1030;
    margin: 0;
}
.member-list-heading ~ .container {
    padding-top: 7.5rem;
}
.member-list td {
    vertical-align: middle;
}
.profile-username .glyphicons {
    color: #0275d8;
    opacity: 0.8;
}
.profile-username:hover .glyphicons,
.profile-username:focus .glyphicons {
    color: #014c8c;
}
.profile-background {
    width: 100%;
    height: calc(3rem + 240px);
    position: absolute;
    opacity: 0.20;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.5);
    background-size: 100%;
    background-position: center;
}

.carousel {
    padding-bottom: 2rem;
}
.carousel-caption p {
    border-radius: 0.25rem;
    background: rgba(0,0,0,0.7);
	padding: 0.25rem;
}
.carousel-item {
    height: 22rem;
    background: rgba(119,119,119,1);
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 22rem;
}
#shop-features {
    padding-top: 3.5rem;
    margin-top: -3.5rem;
}
.shop-features {
    padding-bottom: 1rem;
}
.shop-features .col-sm-5 {
    background-size: cover;
    background-position: 50%;
    min-height: 12rem;
    max-height: 16rem;
    border-radius: 0.25rem;
}
.modal-open {
    padding-right: 10px !important;
}
.modal-open > .fixed-top {
    margin-right: 10px;
}
.modal-content {
    background: rgba(247,247,247,0.9);
}
.modal-header {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.modal-footer {
    border-top: 1px solid rgba(0,0,0,0.2);
}
body > .container {
    padding-top: 5rem;
}

.text-muted {
    color: rgba(90,90,90,0.5) !important;
}
.title-link {
    color: #4b5257;
}
a:hover .title-link,
a:focus .title-link {
    color: #070808;
}
a .title-link::after,
a:hover .title-link::after,
a:focus .title-link::after {
    vertical-align: baseline;
    margin-left: 0.1rem;
    font-family: "Glyphicons Regular";
    font-size: 60%;
    content: "\E051";
    color: #014c8c;
}
.dropdown-chevron {
    font-size: 1rem;
    vertical-align: baseline;
    font-family: "Glyphicons Regular";
}
.dropdown-chevron::before, *:target .dropdown-chevron.collapsed::before {
    content: "\E601";
}
.dropdown-chevron.collapsed::before {
    content: "\E602";
}
*:target .collapse {
    display: inherit;
}
.col-form-label {
    font-weight: bold;
}
.input-group-addon {
    color: rgba(90,90,90,1);
    font-size: 1rem;
}
.custom-file-control::after {
    content: "" !important;
}
.form-control-feedback {
    display: none;
}
.has-warning .form-control-feedback,
.has-danger .form-control-feedback {
    display: inline;
}
input[type=month] {
    width: 12rem;
}
#dashboard-messages a {
    vertical-align: middle;
}
#dashboard-messages td:nth-child(1) {
    min-width: 10rem;
}
#dashboard-messages th:nth-child(3),
#dashboard-messages td:nth-child(3),
#dashboard-messages th:nth-child(4),
#dashboard-messages td:nth-child(4) {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}
.avatars {
    white-space: nowrap;
}
.avatars a {
    display: inline-block;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.avatars a > img {
    width: 100%;
}

.edit-img > img {
    height: 3rem;
    z-index: 1;
}
.edit-img > a {
    background-color: #0275d8;
    color: #fff;
    margin: auto 0 auto -1.5rem;
    padding: 0.1rem 0.5rem 0.1rem 1.75rem;
    border-radius: 0.25rem;
}
.edit-img > a:hover,
.edit-img > a:focus {
    background-color: #014c8c;
}

.StripeElement {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    border-color: #5cb3fd;
}
.StripeElement--invalid {
    border-color: #d9534f;
}
.StripeElement--success {
    border-color: #5cb85c;
}

@media (max-width: 575px) {
    #ms-header > .container {
        margin: 0;
    }
    .logo-large {
        display: none;
    }
    .logo-small {
        display: inline-block;
    }
    #notifications a:nth-child(7) ~ a {
        display: none;
    }
}
@media (min-width: 576px) {
    .logo-large {
        display: inline-block;
    }
    .logo-small {
        display: none;
    }
    .carousel + .container {
        padding-top: 0;
    }
    #dashboard-messages {
        display: table;
    }
    img.member-icon-large {
        width: 240px;
        height: 240px;
    }
}
@media (max-width: 767px) {
    #navbar-guest .navbar-collapse {
        position: absolute;
        right: 0;
        padding: 0;
        background: rgba(247,247,247,0.85);
    }
    #navbar-guest .navbar-nav .nav-link {
        padding: 0.25rem 1rem 0 1rem ;
    }
    #navbar-guest .navbar-collapse,
    #navbar-guest .nav-item:last-child .nav-link {
        border-radius: 0 0 0.25rem 0.25rem;
    }
}
@media (min-width: 768px) {
    #navbar-guest .nav-link {
        border-radius: 0.25rem 0.25rem 0 0;
    }
    .carousel-item, .carousel-item > img {
        height: 32rem;
    }
}
