@import url('fonts/fonts.css');

body {
    position: relative;
    padding-bottom: 3rem;
    color: rgb(90,90,90);
}
a:focus, a:hover {
    text-decoration: none;
}
form p {
    margin-bottom: 0.5rem;
}
label {
    margin: 0;
}

.navbar {
    background: rgba(247,247,247,0.8);
    padding-bottom: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.navbar > .container {
    height: 3rem;
    padding: 0;
}
.navbar-brand {
    padding: 0;
    margin: 0 0 0.5rem 0;
}
.navbar-brand > img {
    height: 2.5rem;
}
.navbar-collapse {
    padding-top: 0.5rem;
}
.nav-link {
    font-weight: bold;
    line-height: 2rem;
    padding: 0.25rem 0.5rem 0 0.5rem;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
    color: rgba(0,0,0,0.5) !important;
}
.navbar-nav .nav-link {
    padding: 0.25rem 0.5rem 0 0.5rem;
}
.nav-link.glyphicons {
    width: 2.2rem;
    text-align: center;
}
button.nav-link {
    background: none;
    width: 100%;
    border: 0;
    outline: none;
    text-align: left;
    cursor: pointer;
}
.nav-link:hover, .nav-link:focus,
.nav-link.active:hover, .nav-link.active:focus {
    color: rgba(0,0,0,0.9) !important;
    background-color: rgba(2,117,216,1.0);
}
.nav-link:focus {
    box-shadow: 0 0 0 2px rgba(2,117,216,0.25);
}
.nav-link.active {
    color: rgba(0,0,0,0.7) !important;
    background-color: rgba(2,117,216,0.5);
}
.nav-link .glyphicons + span {
    display: none;
}
.navbar-toggler {
    border: 0;
    border-radius: 0.25rem 0.25rem 0 0;
}
#navbar-guest .navbar-toggler {
    margin-top: 0.5rem;
    right: 0;
}
#general-toggler {
    margin-top: 0.5rem;
    right: 3rem;
}
#member-icon {
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
    display: block !important;
    right: 0;
}
#member-icon img {
    width: 100%;
    border-radius: 50%;
}
#member-menu .navbar-nav {
    flex-direction: column;
}
#member-menu {
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 0 0 0.75rem 0.25rem;
    padding: 0;
    background: rgba(247,247,247,0.8);
    width: 16rem;
}
#member-menu-toolbar {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#member-menu-toolbar .nav-link:last-child {
    float: right;
}
#sign-out {
    text-align: right;
}
#sign-out label {
    cursor: pointer;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}
#sign-out label:hover, #sign-out label:focus {
    color: rgba(0,0,0,0.7);
}
#sign-out .nav-link {
    display: inline-block;
    border-radius: 0.75rem 0;
    border-width: 1px 0 0 1px;
    border-color: rgba(0,0,0,0.2);
    height: inherit;
    padding: 0 0.5rem;
}

.carousel {
    padding-bottom: 2rem;
}
.carousel-caption p {
    border-radius: 0.25rem;
    background: rgba(0,0,0,0.5);
}
.carousel-item {
    height: 22rem;
    background: rgba(119,119,119,1);
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 22rem;
}
#shop-features {
    padding-top: 4rem;
    margin-top: -4rem;
}
.shop-features img {
    max-width: 100%;
    padding-bottom: 1rem;
}

.modal-open {
    padding-right: 10px !important;
}
.modal-open > .fixed-top {
    margin-right: 10px;
}
.modal-header {
    padding-bottom: 0;
    border: 0;
}
.modal-content {
    background: rgba(247,247,247,0.9);
}
body > .container {
    padding-top: 5rem;
}

.text-muted {
    color: rgba(90,90,90,0.5) !important;
}
.col-form-label {
    font-weight: bold;
}
.form-control-feedback {
    display: none;
}
.input-group-addon {
    color: rgba(90,90,90,1);
    font-size: 1rem;
}
.input-group .form-control-file {
    line-height: 2rem;
}
.has-danger .form-control-danger,
.has-success .form-control-success {
    padding-right: 0.75rem;
    background-image: none;
}
input[type=month] {
    width: 12rem;
}
#billing {
    padding-bottom: 1rem;
}
#credit-card .form-control[data-beanstream-id] {
    background-image: none;
}
#credit-card .form-control-warning {
    padding-right: 0.75rem;
}

@media (max-width: 575px) {
    .navbar > .container {
        margin: 0;
    }
    #general-menu {
        position: absolute;
        right: 0;
        border-radius: 0 0 0.25rem 0.25rem;
        padding: 0;
        background: rgba(247,247,247,0.8);
    }
    #general-menu .navbar-nav {
        flex-direction: row;
        margin: 0 0 0 auto;
    }
    #general-menu .nav-item:first-child .nav-link {
        border-bottom-left-radius: 0.25rem;
    }
    #general-menu .nav-item:last-child .nav-link {
        border-bottom-right-radius: 0.25rem;
    }
    #general-menu .nav-link .glyphicons + span {
        display: inline;
    }
    #student:disabled {
        display: none;
    }
}
@media (min-width: 576px) {
    #general-menu {
        margin-right: 3rem;
    }
    #general-menu .nav-link {
        border-radius: 0.25rem 0.25rem 0 0;
    }
    .carousel + .container {
        padding-top: 0;
    }
}
@media (max-width: 767px) {
    #navbar-guest .navbar-collapse {
        position: absolute;
        right: 0;
        padding: 0;
        background: rgba(247,247,247,0.8);
    }
    #navbar-guest .navbar-nav .nav-link {
        padding: 0.25rem 1rem 0 1rem ;
    }
    #navbar-guest .navbar-collapse,
    #navbar-guest .nav-item:last-child .nav-link {
        border-radius: 0 0 0.25rem 0.25rem;
    }
}
@media (min-width: 768px) {
    #navbar-guest .nav-link {
        border-radius: 0.25rem 0.25rem 0 0;
    }
    .carousel-item, .carousel-item > img {
        height: 32rem;
    }
}
