@import url('fonts/fonts.css');

body {
    position: relative;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.navbar {
    background: rgba(247,247,247,0.8);
    padding-bottom: 0;
}
.navbar > .container {
    height: 3rem;
}
.navbar-brand {
    padding: 0;
    margin: 0 0 0.5rem 0;
}
.navbar-brand > img {
    height: 2.5rem;
}
.navbar-nav {
    border: 0;
    margin-top: 0.5rem;
}
.nav-link {
    font-weight: bold;
    line-height: 2rem;
    padding: 0.25rem 0.5rem 0 0.5rem !important;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;
}
.nav-link:hover, .nav-link:focus,
.nav-link.active:hover, .nav-link.active:focus {
    color: rgba(0,0,0,0.9) !important;
    background-color: rgba(2, 117, 216, 1.0);
}
.nav-link.active {
    color: rgba(0,0,0,0.7) !important;
    background-color: rgba(2, 117, 216, 0.7);
}
.navbar-toggler {
    right: 0;
    margin-top: 0.5rem;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar-nav.collapse {
    display: none;
}
.navbar-nav.collapsing, .navbar-nav.collapse.show {
    display: block;
    margin: 0;
    background: rgba(247,247,247,0.8);
}

.carousel {
    padding-bottom: 2rem;
}
.carousel-caption p {
    background: rgba(0,0,0,0.5);
}
.carousel-item {
    height: 22rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 22rem;
}

#shop-features {
    padding-top: 4rem;
    margin-top: -4rem;
}
.shop-features img {
    max-width: 100%;
    padding-bottom: 1rem;
}

.modal-open {
    padding-right: 10px !important;
}
.modal-open > .fixed-top {
    margin-right: 10px;
}
.modal-content {
    background: rgba(247,247,247,0.9);
}
body > .container {
    padding-top: 5rem;
}

label {
    margin: 0;
}
.col-form-label {
    font-weight: bold;
}
.form-control-feedback {
    display: none;
}
#join input[type=month] {
    width: inherit;
}
.has-danger .form-control-danger,
.has-success .form-control-success {
    background-image: none;
}

@media (max-width: 576px) {
    .container {
        margin: 0;
    }
    .carousel {
        display: none;
    }
    #student:disabled {
        display: none;
    }
}
@media (min-width: 576px) {
    .carousel + .container {
        padding-top: 0;
    }
}
@media (max-width: 768px) {
    .navbar-nav, .nav-item:last-child > .nav-link {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}
@media (min-width: 768px) {
    .nav-link {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .carousel-item, .carousel-item > img {
        height: 32rem;
    }
}
