@import url('fonts/fonts.css');

body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.navbar.bg-faded {
    background: rgba(247,247,247,0.8);
}
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    height: 2.5rem;
}
.navbar-text {
    width: 100%;
    text-align: end;
}
.navbar-text a {
    color: inherit;
    border-color: inherit;
}
.navbar-text a:hover, .navbar-text a:focus {
    color: rgba(0,0,0,0.5);
    border-color: #014c8c;
    background-color: #014c8c;
}
.navbar-text .btn {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    font-size: 1.1rem;
    line-height: 2.3rem;
}

.carousel {
    margin-bottom: 4rem;
}
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}
.carousel-caption p {
    background: rgba(0,0,0,0.5);
}
.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 32rem;
}

