SiteSetting.title='Makerspace Talk'
SiteSetting.site_description='Talk forum for Makerspace members.'
SiteSetting.company_short_name='Victoria Makerspace'
SiteSetting.company_domain='https://makerspace.ca'
SiteSetting.site_contact_username='makerspace'
SiteSetting.contact_email='admin@makerspace.ca'
SiteSetting.notification_email='admin@devel.makerspace.ca'
SiteSetting.contact_url='https://makerspace.ca'
SiteSetting.logo_url='/logo-simple-text.png'
SiteSetting.logo_small_url='/logo.png'
SiteSetting.mobile_logo_url='/logo-simple.png'
SiteSetting.favicon_url='/favicon-32x32.png'
SiteSetting.apple_touch_icon_url='/apple-touch-icon.png'
SiteSetting.emoji_set='google'
SiteSetting.external_system_avatars_url='/talk/letter_avatar_proxy/v2/letter/{first_letter}/{color}/{size}.png'
SiteSetting.wizard_enabled='false'
SiteSetting.new_version_emails='false'
SiteSetting.send_welcome_message='false'
SiteSetting.long_polling_base_url='/talk/'
SiteSetting.allow_restore='true'
# SiteSetting.logout_redirect='/sso?logout'
SiteSetting.enable_sso='true'
SiteSetting.sso_url='https://devel.makerspace.ca/sso'
SiteSetting.sso_secret=''
SiteSetting.sso_overrides_email='true'
SiteSetting.sso_overrides_username='true'
SiteSetting.sso_overrides_name='true'
SiteSetting.top_menu='categories|latest|new|unread|top'
SiteSetting.display_name_on_posts='true'
SiteSetting.show_email_on_profile='true'
SiteSetting.hide_user_profiles_from_public='true'
SiteSetting.max_attachment_size_kb='4096'
SiteSetting.authorized_extensions='*'
