{{$ms := .Get_membership}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
{{if $ms}}
        <div class="row">
          <h3 id="Membership" class="pb-1 col col-sm-4">Membership</h3>
          <div class="col mt-1">
            <a href="/member/billing#cancel-membership" class="btn btn-sm btn-danger float-right float-sm-none">Cancel</a>
          </div>
        </div>
{{else}}
        <h3 class="pb-1">Membership</h3>
{{end}}
        <div class="mx-2">
          <div class="mb-2 row">
            <span class="col col-sm-4 font-weight-bold">Type:</span>
            <div class="col">
{{with $ms}}
              {{.Plan.Name}}
{{else}}
  {{with .Get_pending_membership}}
              <p class="alert alert-info mt-2 mb-2">
                Your membership request is pending approval.
              </p>
  {{else}}
              None
  {{end}}
{{end}}
            </div>
          </div>
{{with $ms}}
          <div class="mb-2 row">
            <span class="col col-sm-4 font-weight-bold">Approved by:</span>
            <div class="col col-sm-8">
              <a href="/member/{{with $.Approved_by .}}{{.Id}}{{end}}">
                @{{with $.Approved_by .}}{{.Username}}{{end}}</a>
                on {{with $.Created_at .}}{{.Format "January 2, 2006"}}{{end}}
            </div>
          </div>
{{end}}
        </div>
        <h3 class="mt-4 pb-1">
          Account information
          <a class="btn btn-sm btn-secondary float-right" href="/member/{{.Member.Id}}">
            <span class="glyphicons glyphicons-user"></span>
            Profile
          </a>
        </h3>
        <div class="mx-2">
          <div class="mb-2 row">
            <span class="col-sm-4 font-weight-bold">Registered:</span>
            <div class="col-sm-8">
              {{.Member.Registered.Format "January 2, 2006"}}
            </div>
          </div>
          <form action="/member/account" method="post" class="form-group row{{if $.Data.username_error}} has-danger{{end}}">
            <label for="username" class="col-sm-4 col-form-label">Username:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="username" minlength="3" maxlength="20" value="{{.Member.Username}}" disabled>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary" disabled>Update</button>
                </span>
              </div>
              <small class="form-control-feedback">{{.Data.username_error}}</small>
            </div>
          </form>
          <form action="/sso/verify-email" method="post" class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-envelope"></span>
                <input type="email" class="form-control" name="email" value="{{.Member.Email}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Verify</button>
                </span>
              </div>
            </div>
          </form>
          <form action="/member/account" method="post" class="form-group row{{if $.Data.name_error}} has-danger{{end}}">
            <label for="name" class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-user"></span>
                <input type="text" class="form-control" name="name" value="{{.Member.Name}}" maxlength="100">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback">{{.Data.name_error}}</small>
            </div>
          </form>
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.telephone_error}} has-danger{{end}}">
            <label for="telephone" class="col-sm-4 col-form-label">Telephone:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-iphone"></span>
                <input type="tel" class="form-control" name="telephone" value="{{.Telephone}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback">{{.Data.telephone_error}}</small>
            </div>
          </form>
{{with .Talk_user}}
          <div class="mb-1 row align-items-center">
            <span class="col-4 font-weight-bold">Avatar:</span>
            <div class="d-flex edit-img col justify-content-end justify-content-sm-start">
              <img src="{{$.Member.Avatar_url 48}}" class="rounded-circle">
              <a href="{{$.Talk.Path}}/u/{{urlquery .Username}}/preferences" class="glyphicons glyphicons-pencil"></a>
            </div>
          </div>
          <div class="row align-items-end">
            <span class="col-sm-4 font-weight-bold">Talk forum:</span>
            <span class="col-sm-8">
              <a href="{{$.Talk.Path}}/u/{{urlquery .Username}}/preferences">
                Account preferences
                <span class="glyphicons glyphicons-link align-baseline" style="font-size: 1rem;"></span>
              </a>
            </span>
          </div>
{{end}}
        </div>
        <h3 class="mt-4 pb-1">Update password</h3>
        <form action="/member/account" method="post" class="mx-2">
          <div class="form-group row{{if .Data.old_password_error}} has-danger{{end}}">
            <label for="old-password" class="col-sm-4 col-form-label">Current password:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-fingerprint-remove"></span>
                <input type="password" class="form-control" name="old-password" required>
              </div>
              <small class="form-control-feedback{{with .Data.old_password_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="form-group row{{if .Data.new_password_error}} has-danger{{end}}">
            <label for="new-password" class="col-sm-4 col-form-label">New password:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-fingerprint"></span>
                <input type="password" class="form-control" name="new-password" required>
              </div>
              <small class="form-control-feedback{{with .Data.new_password_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="d-flex align-items-start">
            <button type="submit" class="btn btn-primary" name="update-password">Update</button>
{{with .Data.update_password_success}}
            <p class="alert alert-success py-2 px-3 ml-3 w-100" style="line-height: 1.25">{{.}}</p>
{{end}}
          </div>
        </form>
      </div>
    </div>
  </div>
