{{$talk_url := .Url}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
{{if or .Member.Membership_invoice .Member.Gratuitous}}
        <div class="row">
          <h3 id="Membership" class="col-sm-4">Membership</h3>
          <div class="col-sm-8 mt-1">
            <a href="/member/billing#terminate_membership" class="btn btn-sm btn-danger">Cancel</a>
          </div>
        </div>
  {{if not .Member.Approved}}
        <p class="alert alert-info mt-2 mb-2">
          Your membership is currently awaiting approval from an administrator.
        </p>
  {{end}}
        <div class="mb-2 row">
          <span class="col-sm-4 font-weight-bold">Type:</span>
          <div class="col-sm-8">
            <a href="/member/billing#Membership-dues" class="text-capitalize">
  {{if .Member.Gratuitous}}
              Free
  {{else}}
              {{.Member.Membership_invoice.Fee.Identifier}}
  {{end}}
            </a>
          </div>
  {{if .Member.Gratuitous}}
          <p class="alert alert-info mt-2 mb-0">
            Your account is labelled as "free," either because an administrator has specifically marked it as such, or you are assumed to still be paying membership fees via PayPal.  Contact <a href="mailto:accounting@makerspace.ca">accounting@makerspace.ca</a> for more information.
          </p>
  {{end}}
        </div>
        <div class="mb-2 row">
          <div class="col-sm-4"><span class="font-weight-bold">Fee</span> <span class="text-muted">(monthly)</span>:</div>
          <div class="col-sm-8">
  {{if .Member.Gratuitous}}
            $0.00
  {{else}}
            ${{.Member.Membership_invoice.Amount | printf "%.2f"}} CAD
  {{end}}
          </div>
        </div>
        <div class="mb-3 row">
          <span class="col-sm-4 font-weight-bold">Approved by:</span>
          <div class="col-sm-8">
  {{if .Member.Approved}}
            <a href="/member/{{.Id}}">@{{.Member.Approved_by.Username}}</a> on {{.Member.Approved_on.Format "January 2, 2006"}}
  {{else}}
            <em class="text-muted">Pending approval</em>
  {{end}}
          </div>
        </div>
{{else}}
        <h3>Membership</h3>
        <p class="alert alert-warning">You are not currently <a href="/member/billing#Membership-dues">registered</a> as a member.</p>
{{end}}
        <h3>Account information</h3>
        <div class="mb-2 row">
          <span class="col-sm-4 font-weight-bold">Registered:</span>
          <div class="col-sm-8">
            {{.Member.Registered.Format "January 2, 2006"}}
          </div>
        </div>
        <form action="/member/account" method="post">
          <div class="form-group row{{if .Data.username_error}} has-danger{{end}}">
            <label for="username" class="col-sm-4 col-form-label">Username:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="username" minlength="3" maxlength="20" size="20" style="width: auto" value="{{.Member.Username}}" disabled>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary" name="username-submit" disabled>Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with .Data.username_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="form-group row{{if .Data.email_error}} has-danger{{end}}">
            <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-envelope"></span>
                <input type="email" class="form-control" name="email" value="{{.Member.Email}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary" name="email-submit" formaction="/sso/verify-email">Verify</button>
                </span>
              </div>
              <small class="form-control-feedback{{with .Data.email_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="form-group row{{if .Data.name_error}} has-danger{{end}}">
            <label for="email" class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-user"></span>
                <input type="text" class="form-control" name="name" value="{{.Member.Name}}" maxlength="100">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary" name="name-submit">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with .Data.name_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="form-group row{{if .Data.telephone_error}} has-danger{{end}}">
            <label for="telephone" class="col-sm-4 col-form-label">Telephone:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-iphone"></span>
                <input type="tel" class="form-control" name="telephone" value="{{.Member.Telephone}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary" name="telephone-submit">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with .Data.telephone_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
        </form>
{{with .Talk_user}}
        <div class="mb-1 row align-items-center">
          <span class="col-sm-4 font-weight-bold">Avatar:</span>
          <div class="d-flex edit-img col-sm-8">
            <img src="{{.Avatar_url 120}}" class="rounded-circle">
            <a href="{{$talk_url}}/u/{{.Username}}/preferences" class="glyphicons glyphicons-pencil"></a>
          </div>
        </div>
        <div class="mb-3 row align-items-end">
          <span class="col-sm-4 font-weight-bold">Talk forum:</span>
          <span class="col-sm-8">
            <a href="{{$talk_url}}/u/{{.Username}}/preferences">
              Account preferences
              <span class="glyphicons glyphicons-link align-baseline" style="font-size: 1rem;"></span>
            </a>
          </span>
        </div>
{{end}}
        <h3>Update password</h3>
        <form action="/member/account" method="post">
          <div class="form-group row{{if .Data.old_password_error}} has-danger{{end}}">
            <label for="old-password" class="col-sm-4 col-form-label">Current password:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-fingerprint-remove"></span>
                <input type="password" class="form-control" name="old-password" required>
              </div>
              <small class="form-control-feedback{{with .Data.old_password_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="form-group row{{if .Data.new_password_error}} has-danger{{end}}">
            <label for="new-password" class="col-sm-4 col-form-label">New password:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-fingerprint"></span>
                <input type="password" class="form-control" name="new-password" required>
              </div>
              <small class="form-control-feedback{{with .Data.new_password_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </div>
          <div class="d-flex align-items-start">
            <button type="submit" class="btn btn-primary" name="update-password">Update</button>
{{with .Data.update_password_success}}
            <p class="alert alert-success py-2 px-3 ml-3 w-100" style="line-height: 1.25">{{.}}</p>
{{end}}
          </div>
        </form>
      </div>
    </div>
  </div>
