  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
{{with .Data.member}}
  {{$ms := .Get_membership}}
        <h3 class="text-center">
          <a href="/member/{{.Id}}">@{{.Username}}</a>'s profile
        </h3>
        <h6 class="text-center">
          <span class="text-muted">Last seen</span>
          {{fmt_last_seen .Last_seen}}
        </h6>
        <h4>Membership</h4>
        <form action="/admin/account/{{.Id}}" method="post" class="mx-2 mb-3">
          <div class="mb-2 row">
            <span class="col col-sm-4 font-weight-bold">Type:</span>
            <div class="col text-capitalize">
  {{with $ms}}
              {{.Plan.Name}}
  {{else}}
              None
  {{end}}
              <button type="button" data-toggle="collapse" data-target="#modify-membership" class="ml-1 btn btn-sm btn-secondary dropdown-toggle">
                Modify
              </button>
            </div>
          </div>
          <div class="collapse" id="modify-membership">
            <div class="mx-2 mb-2 py-2 px-3 card bg-faded">
  {{if ne .Membership_id "membership-free"}}
              <div class="my-1 row">
                <div class="col">
                  <strong>Approve free membership:</strong>
                </div>
                <div class="col">
                  <button class="btn btn-sm btn-primary" type="submit" name="approve-free-membership" value="{{.Id}}">
                    Approve
                  </button>
                </div>
              </div>
  {{end}}
              <div class="my-1 row">
                <div class="col">
                  <strong>Link to corporate member:</strong>
                </div>
                <div class="col">
                  <select class="form-control">
                    {TODO}
                  </select>
                </div>
              </div>
  {{with .Get_membership}}
              <div class="my-1 row">
                <div class="col">
                  <strong>Cancel membership:</strong>
                </div>
                <div class="col">
                  <button class="btn btn-sm btn-danger" type="submit" name="cancel-membership" value="{{.ID}}">
                    Cancel
                  </button>
                  <label title="Send notification message" class="ml-2 form-check-label small">
                    <input type="checkbox" class="form-check-input" name="notify" checked>
                    Notify
                  </label>
                </div>
              </div>
  {{end}}
            </div>
          </div>
          <div class="mb-2 row">
  {{with .Get_membership}}
            <span class="col-sm-4 font-weight-bold">Approved by:</span>
            <div class="col-sm-8">
              <a href="/member/{{with $.Approved_by .}}{{.Id}}{{end}}">
                @{{with $.Approved_by .}}{{.Username}}{{end}}</a>
                on {{with $.Created_at .}}{{.Format "January 2, 2006"}}{{end}}
            </div>
  {{else}}
    {{with .Get_pending_membership}}
            <span class="col-sm-4 font-weight-bold">Pending approval:</span>
            <div class="col-sm-8">
              <button type="submit" name="approve-membership" value="{{.ID}}" class="btn btn-sm btn-primary">Approve</button>
              <button type="submit" name="decline-membership" value="{{.ID}}" class="btn btn-sm btn-warning">Decline</button>
            </div>
    {{end}}
  {{end}}
          </div>
        </form>
        <h4>Account information</h4>
        <div class="mx-2">
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.registered_error}} has-danger{{end}}">
            <label for="registered" class="col-sm-4 col-form-label">Registered:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="date" class="form-control flex-row" name="registered" value="{{.Registered.Format "2006-01-02"}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with $.Data.registered_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </form>
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.username_error}} has-danger{{end}}">
            <label for="username" class="col-sm-4 col-form-label">Username:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="username" minlength="3" maxlength="20" value="{{.Username}}" disabled>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary" disabled>Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with $.Data.username_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </form>
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.email_error}} has-danger{{end}}">
            <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-envelope"></span>
                <input type="email" class="form-control" name="email" value="{{.Email}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with $.Data.email_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </form>
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.name_error}} has-danger{{end}}">
            <label for="email" class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-user"></span>
                <input type="text" class="form-control" name="name" value="{{.Name}}" maxlength="100">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with $.Data.name_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </form>
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.key_card_error}} has-danger{{end}}">
            <label for="email" class="col-sm-4 col-form-label">Key-card:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-door"></span>
                <input type="text" class="form-control" name="key-card" value="{{.Key_card}}" maxlength="8">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with $.Data.key_card_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </form>
          <form action="/admin/account/{{.Id}}" method="post" class="form-group row{{if $.Data.telephone_error}} has-danger{{end}}">
            <label for="telephone" class="col-sm-4 col-form-label">Telephone:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-iphone"></span>
                <input type="tel" class="form-control" name="telephone" value="{{.Telephone}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </span>
              </div>
              <small class="form-control-feedback{{with $.Data.telephone_error}} show">{{.}}{{else}}">{{end}}</small>
            </div>
          </form>
  {{with .Talk_user}}
          <div class="mb-2 row">
            <span class="col-sm-4 font-weight-bold">Talk forum:</span>
            <div class="col-sm-8">
              <a href="{{.Talk_api.Path}}/u/{{urlquery .Username}}/preferences">
                Account preferences
                <span class="glyphicons glyphicons-link align-baseline" style="font-size: 1rem;"></span>
              </a><br>
              <a href="{{.Talk_api.Path}}/admin/users/{{.Id}}/{{urlquery .Username}}">
                Account management
                <span class="glyphicons glyphicons-link align-baseline" style="font-size: 1rem;"></span>
              </a>
            </div>
          </div>
  {{end}}
        </div>
{{end}}
      </div>
    </div>
  </div>
