  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/admin">Admin panel</a>
      <a class="breadcrumb-item active" href="/admin/access-cards">Access cards</a>
    </nav>
{{with .List_members_with_access_card}}
    <table class="table table-hover text-nowrap text-center member-list">
      <thead>
        <tr>
          <th class="text-muted">{{len .}} Members</th>
          <th class="text-center" style="width: 10rem">Card #</th>
          <th class="text-center">Membership</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
  {{range .}}
        <tr{{if eq .Id $.Member.Id}} class="table-info"{{end}}>
          <td class="d-flex text-left">
            <a href="/member/{{.Id}}" class="member-icon">
              {{with .Avatar_url 48}}
              <img src="{{.}}">
              {{else}}
              <div class="glyphicons glyphicons-user"></div>
              {{end}}
            </a>
            <div class="mx-3">
              <a href="/member/{{.Id}}">
                @{{.Username}}
              </a>
              <span class="small d-block">{{.Name}}</span>
            </div>
          </td>
          <td>
            <form method="post" {{if $.Data.access_card_error_member}}{{if eq .Id $.Data.access_card_error_member}}class="has-danger"{{end}}{{end}}>
              <div class="input-group">
                <input type="text" class="form-control" name="access-card" value="{{.Key_card}}" maxlength="8">
                <span class="input-group-btn">
                  <button type="submit" name="update-member" value="{{.Id}}" class="btn btn-sm btn-primary glyphicons glyphicons-door"></button>
                </span>
              </div>
              <small class="form-control-feedback">{{$.Data.access_card_error}}</small>
            </form>
          </td>
          <td class="text-capitalize">
    {{with .Membership_rate}}
            {{.}}
    {{else}}
            -
    {{end}}
          </td>
          <td>
            <a href="/admin/account/{{.Id}}" class="glyphicons glyphicons-wrench"></a>
          </td>
        </tr>
  {{end}}
      </tbody>
    </table>
{{end}}
  </div>
