{{$list := .Data.list}}
{{$members := (call $list.Members)}}
  <div class="member-list-heading fixed-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <h4 class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{$list.Group}}
            </button>
            <div class="dropdown-menu">
{{range .Data.lists}}
              <a class="dropdown-item{{if eq $list.Group .Group}} active{{end}}" href="{{.Path}}">{{.Group}}</a>
{{end}}
            </div>
            Members
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
{{if ne $list.Group "New"}}
        <span class="text-muted text-lowercase">
          {{len $members}}
  {{if ne $list.Group "All"}}
          {{$list.Group}}
  {{end}}
          members
        </span>
{{end}}
{{with $members}}
        <table class="table table-responsive table-hover text-nowrap member-list">
          <thead>
            <tr>
  {{with $list.Group}}
    {{if eq . "New"}}
              <th class="w-100 py-1">
                <form action="/member/list/new" method="get" class="d-flex">
                  <div class="input-group" style="width: inherit">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-sm btn-secondary">Limit</button>
                    </span>
                    <input type="number" name="limit" class="form-control" value="{{len $members}}" style="width: 4rem">
                  </div>
                </form>
              </th>
    {{else}}
              <th class="w-100"></th>
    {{end}}
    {{if eq . "Active"}}
              <th>Last seen</th>
    {{end}}
    {{if eq . "Approved"}}
              <th>Membership</th>
              <th>Approved on</th>
    {{end}}
  {{end}}
              <th>Registered</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
  {{range .}}
            <tr{{if eq .Id $.Member.Id}} class="table-info"{{end}}>
              <td>
                <a href="/member/{{.Id}}" class="member-icon">
                  {{with .Avatar_url 48}}
                  <img src="{{.}}">
                  {{else}}
                  <div class="glyphicons glyphicons-user"></div>
                  {{end}}
                </a>
                <div class="flex-column mx-3">
                  <a href="/member/{{.Id}}" class="d-block">
                    @{{.Username}}
                  </a>
                  <span class="small">{{.Name}}</span>
                </div>
              </td>
    {{if eq $list.Group "Active"}}
              <td>
                <small class="text-muted">
                  {{fmt_time .Last_seen}}
                </small>
              </td>
    {{end}}
    {{if eq $list.Group "Approved"}}
              <td class="text-capitalize">{{.Membership_rate}}</td>
              <td>{{fmt_time (timestamp .Get_membership.Created)}}</td>
    {{end}}
    {{if eq $list.Group "New"}}
              <td>{{fmt_time .Registered}}</td>
    {{else}}
              <td>{{.Registered.Format "Jan 02, 2006"}}</td>
    {{end}}
              <td>
                <a href="/admin/account/{{.Id}}" class="glyphicons glyphicons-wrench"></a>
              </td>
            </tr>
  {{end}}
          </tbody>
        </table>
{{end}}
      </div>
    </div>
  </div>
