  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
{{with .Data.member_approved}}
        <p class="alert alert-success">
          <a href="/member/{{.Id}}">@{{.Username}}</a>'s membership approved.
        </p>
{{end}}
        <h5>
          <a href="https://dashboard.stripe.com">
            Stripe dashboard
            <span class="title-link"></span>
          </a>
        </h5>
{{with .Get_all_pending_subscriptions}}
        <h4>
          <a href="#pending-subscriptions" data-toggle="collapse" aria-expanded="true" class="dropdown-chevron"></a>
          Pending subscription requests
        </h4>
        <form action="/admin" method="post" class="collapse show mx-sm-3" id="pending-subscriptions">
          <table class="table table-sm table-striped table-responsive text-nowrap">
            <thead>
              <tr>
                <th>Username</th>
                <th class="w-75">Name</th>
                <th class="w-25">Type</th>
                <th>Request date</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
  {{range .}}
              <tr>
                <td><a href="/member/{{.Member.Id}}">@{{.Username}}</a></td>
                <td>{{.Member.Name}}</td>
                <td>{{with index $.Plans .Plan_id}}{{.Name}}{{end}}</td>
                <td>{{.Requested_at.Format "2006-01-02"}}</td>
                <td>
                  <button type="submit" name="approve-membership" value="{{.Id}}" class="btn btn-sm btn-primary">Approve</button>
                  <button type="submit" name="decline-membership" value="{{.Id}}" class="btn btn-sm btn-danger">Decline</button>
                </td>
                <td>
                  <label title="Send notification message to @{{.Username}}" class="form-check-label small">
                    <input type="checkbox" class="form-check-input" name="notify">
                    Notify
                  </label>
                </td>
              </tr>
  {{end}}
{{end}}
            </tbody>
          </table>
        </form>
        <h4>
{{if and (.PostFormValue "member-upload") .Data.lines}}
          <a href="#upload-members" data-toggle="collapse" aria-expanded="true" class="dropdown-chevron"></a>
{{else}}
          <a href="#upload-members" data-toggle="collapse" aria-expanded="false" class="dropdown-chevron collapsed"></a>
{{end}}
          Upload members
        </h4>
        <form action="/admin" method="post" id="upload-members" class="collapse {{if and (.PostFormValue "member-upload") .Data.lines}}show {{end}}mx-sm-3">
          <strong>CSV Format:</strong>
          <p class="ml-3 small">
            Username, Name, E-mail <span class="text-muted">{, Registration date = [YYYY-MM-DD], Card # = [XX:XXXXX], [free]}</span>
          </p>
          <p class="alert alert-info mt-1">
            The first 3 required fields must be in the order shown.  The fields in braces are optional and unordered. Each new user must be input on a separate line.<br>
            <strong>Example:</strong><br>
              <small class="ml-3">
                jsmith01, John Smith, j.smith@gmail.com, 00:00000, free
              </small>
              <br>
            The above example creates a new user, @jsmith01, who is immediately approved as a free account (due to the "free" flag).  Each new user is sent an automatic password-reset e-mail.
          </p>
          <textarea name="member-upload" class="form-group form-control" rows="5">
{{- range .Data.lines}}
{{. -}}
{{end -}}
          </textarea>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
{{with .Data.line_error}}
        <p class="alert alert-danger">
  {{range $i, $e := .}}
          <strong>Line {{add 1 $i}}:</strong> {{$e}}.<br>
  {{end}}
        </p>
{{end}}
{{with .Data.line_success}}
        <p class="alert alert-success">
  {{range $i, $m := .}}
          <strong>Line {{add 1 $i}}:</strong>
          <a href="/member/{{$m.Id}}">@{{$m.Username}}</a> created:
          {{printf "<%s>, <%s>" $m.Name $m.Email}}
          <br>
  {{end}}
        </p>
{{end}}
      </div>
    </div>
  </div>
