  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{if not .Member.Agreed_to_terms}}
        <div class="alert alert-danger">
          <p>Please agree to the <a href="/terms">Terms and Conditions</a> before setting up billing information.</p>
        </div>
        {{end}}
        {{with .Field.pay_profile}}
        <section>
          <h4>Transactions history</h4>
          <div class="px-2 px-sm-3">
            {{with .Transactions}}
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Name</th>
                  <th>Card</th>
                </tr>
              </thead>
              <tbody>
                {{range .}}
                <tr{{if not .Approved}} title="This transaction was not approved." class="table-danger"{{end}}>
                  <td>{{.Date.Format "2006-01-02"}}</td>
                  <td>${{.Amount | printf "%.2f"}}</td>
                  <td>{{.Comment}}</td>
                  <td><small>x-{{.Card}}</small></td>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
            {{else}}
            <p>You have no recent transactions.</p>
            {{end}}
            {{with .Invoices}}
            <h5>Monthly payments</h5>
            <form action="/member/billing" method="post" id="monthly">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Start date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {{range .}}
                <tr>  
                  <td>{{.Description}}</td>
                  <td>${{.Amount | printf "%.2f"}}</td>
                  <td>{{.Date.Format "2006-01-02"}}</td>
                  <td>
                    <button type="submit" name="terminate" value="{{.Id}}" class="btn btn-sm btn-danger">Terminate</button>
                  </td>
                </tr>
              {{end}}
              </tbody>
            </table>
            </form>
            {{end}}
            {{/*with .Get_missed_payments}}
            <h5 class="text-danger">Missed payments</h5>
            <table class="table table-sm table-danger">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>  
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            {{end*/}}
          </div>
        </section>
        <hr>
        {{end}}
        <section>
          {{if .Field.card_number}}
          <h4>Update credit card</h4>
            <div class="row px-2 px-sm-3">
              <p class="col-sm-9 mb-2 mb-sm-3 text-muted">
                <strong>Current card:</strong> {{.Field.card_number}}<br>
                <strong>Expiry:</strong> {{.Field.card_expiry}}
              </p>
              <form action="/member/billing" method="post" class="col-sm-3 mb-3 text-sm-right">
                <button type="submit" name="delete-card" class="btn btn-warning">Delete</button>
              </form>
            </div>
            {{else}}
            <h4>Register credit card<img class="ml-3" style="height: 1.5rem" src="/mcvs_acc_hrz.svg"></h4>
            <p class="alert alert-info">This form form allows the online payment service <a href="http://www.beanstream.com/home/">Beanstream</a> to create a payment profile, that we can use to process payments and recurring bills.  No credit card information is stored on or touches our server.<br>
              Credit card registration will not incur a transaction or register you to become a Makerspace member, which must be done below.</p>
            {{end}}
            <p>All prices and transactions are in Canadian dollars.</p>
            <form action="/member/billing" method="post" id="credit-card" class="px-2 px-sm-3">
              <div class="form-group row mb-2 mb-sm-3">
                <label for="name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                  <input type="text" id="name" name="name" class="form-control" minlength="4" maxlength="32" required{{if not .Field.card_number}} autofocus{{end}}>
                  <small class="form-control-feedback"></small>
                </div>
              </div>
              <div class="form-group row mb-2 mb-sm-3">
                <label for="ccNumber" class="col-sm-4 col-form-label">Card number</label>
              <div class="col-sm-8">
                <div class="input-group" data-beanstream-target="ccNumber_input">
                  <span class="input-group-addon glyphicons glyphicons-credit-card"></span>
                </div>
                                    <small data-beanstream-target="ccNumber_error" class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row mb-2 mb-sm-3">
                                <label for="ccExp" class="col-sm-4 col-form-label">Expiry <span class="font-weight-normal text-muted">(mm/yyyy)</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group" data-beanstream-target="ccExp_input">
                                        <span class="input-group-addon glyphicons glyphicons-calendar"></span>
                                    </div>
                                    <small data-beanstream-target="ccExp_error" class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ccCvv" class="col-sm-4 col-form-label">CVV</label>
                                <div class="col-sm-8">
                                    <div class="input-group" data-beanstream-target="ccCvv_input">
                                        <span class="input-group-addon glyphicons glyphicons-lock"></span>
                                    </div>
                                    <small data-beanstream-target="ccCvv_error" class="form-control-feedback"></small>
                                </div>
                            </div>
                            <script src="https://payform.beanstream.com/payfields/beanstream_payfields.js" data-submitForm="true"></script>
                            <button type="submit" class="btn btn-primary">
                                {{if not .Field.card_number}}Register{{else}}Update{{end}}
                            </button>
                        </form>
                </section>
                <hr>
                <section>
                    <h4>Membership dues</h4>
                    {{if not .Member.Corporate}}
                    {{if not .Member.Active}}
                    <p class="alert alert-info">On initial registration, your membership fee gets prorated for the remainder of the current month, and processed immediately.  Following your first payment, successive membership payments will be processed on the 1st of every month.</p>
                    {{end}}
                    <form id="billing" class="px-2 px-sm-3" method="post" action="/member/billing">
                        <fieldset class="form-group mb-2 mb-sm-3">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="rate" class="custom-control-input" value="regular"{{if not .Member.Student}} checked{{end}}>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><b>Regular</b> ($50/month)</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" id="student-rate" name="rate" class="custom-control-input" value="student"{{if .Member.Student}} checked{{end}}>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><b>Student</b> ($30/month)</span>
                            </label>
                        </fieldset>
                        <fieldset id="student"{{if not .Member.Student}}class="text-muted" disabled{{end}}>
                            <legend class="h5 mb-0 mb-sm-2">Student info</legend>
                            <div class="form-group row mb-2"> 
                                <label for="institution" class="col-sm-4 col-form-label">Institution name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="institution" name="institution" {{if .Member.Student}} value="{{.Field.student_institution}}" required{{end}}>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row mb-2"> 
                                <label for="student_email" class="col-sm-4 col-form-label">Student E-mail</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" name="student_email" {{if .Member.Student}} value="{{.Field.student_email}}" required{{end}}>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row mb-sm-2">
                                <label for="graduation" class="col-sm-4 col-form-label">Expected graduation</label>
                                <div class="col-sm-8">
                                    <input type="month" class="form-control" id="graduation" name="graduation"{{if .Member.Student}} value="{{.Field.student_graduation_date}}" required{{end}}>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                        </fieldset>
                        {{if not .Member.Agreed_to_terms}}
                        <p class="alert alert-danger">You must agree to the <a href="/terms">Terms & Conditions</a>.</p>
                        {{else if not .Field.card_number}}
                        <p class="alert alert-warning">You must register a credit card.</p>
                        {{end}}
                        <button type="submit" name="update" class="btn btn-secondary">Update</button>
                        {{if not .Member.Active}}
                        <button type="submit" name="register" class="d-inline-flex btn btn-primary"{{if or (not .Field.card_number) (not .Member.Agreed_to_terms)}} disabled{{end}}>Register</button>
                        {{end}}
                    </form>
                    {{end}}
                </section>
            </div>
        </div>
{{template "footer"}}
    </div>
