{{$card := and .Session.Billing .Session.Billing.Card}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{with .Session.Billing}}
        <section>
          <h4>Transactions history</h4>
          <div class="px-2 px-sm-3">
            {{with .Get_transactions 8}}
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Name</th>
                  <th>Card</th>
                </tr>
              </thead>
              <tbody>
                {{range .}}
                <tr{{if not .Approved}} title="This transaction was not approved." class="table-danger"{{end}}>
                  <td>{{.Date.Format "2006-01-02"}}</td>
                  <td>${{.Amount | printf "%.2f"}}</td>
                  <td>{{.Name}}</td>
                  <td><small>x-{{.Card}}</small></td>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
            {{else}}
            <p>You have no recent transactions.</p>
            {{end}}
            {{with .Get_recurring_bills}}
            <h5>Monthly payments</h5>
            <form action="/member/billing" method="post" id="monthly">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Start date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {{range .}}
                <tr>  
                  <td>{{.Name}}</td>
                  <td>${{.Amount | printf "%.2f"}}</td>
                  <td>{{.Start_date.Format "2006-01-02"}}</td>
                  <td>
                    <button type="submit" name="terminate" value="{{.Name}}" class="btn btn-sm btn-danger">Terminate</button>
                  </td>
                </tr>
              {{end}}
              </tbody>
            </table>
            </form>
            {{end}}
            {{with .Get_missed_payments}}
            <h5 class="text-danger">Missed payments</h5>
            <table class="table table-sm table-danger">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>  
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            {{end}}
          </div>
        </section>
        <hr>
        {{end}}
        <section>
          {{with $card}}
          <h4>Update credit card</h4>
            <div class="row px-2 px-sm-3">
              <p class="col-sm-9 mb-2 mb-sm-3 text-muted">
                <strong>Current card:</strong> {{.Number}}<br>
                <strong>Expiry:</strong> {{.ExpiryMonth}}/20{{.ExpiryYear}}
              </p>
              <form action="/member/billing" method="post" class="col-sm-3 mb-3 text-sm-right">
                <button type="submit" name="delete-card" class="btn btn-warning">Delete</button>
              </form>
            </div>
            {{else}}
            <h4>Register credit card</h4>
            {{end}}
            <form action="/member/billing" method="post" id="credit-card" class="px-2 px-sm-3">
              <div class="form-group row mb-2 mb-sm-3">
                <label for="name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                  <input type="text" id="name" name="name" class="form-control" minlength="4" maxlength="32" required{{if not $card}} autofocus{{end}}>
                  <small class="form-control-feedback"></small>
                </div>
              </div>
              <div class="form-group row mb-2 mb-sm-3">
                <label for="ccNumber" class="col-sm-4 col-form-label">Card number</label>
              <div class="col-sm-8">
                <div class="input-group" data-beanstream-target="ccNumber_input">
                  <span class="input-group-addon glyphicons glyphicons-credit-card"></span>
                </div>
                                    <small data-beanstream-target="ccNumber_error" class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row mb-2 mb-sm-3">
                                <label for="ccExp" class="col-sm-4 col-form-label">Expiry <span class="font-weight-normal text-muted">(mm/yyyy)</span></label>
                                <div class="col-sm-8">
                                    <div class="input-group" data-beanstream-target="ccExp_input">
                                        <span class="input-group-addon glyphicons glyphicons-calendar"></span>
                                    </div>
                                    <small data-beanstream-target="ccExp_error" class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ccCvv" class="col-sm-4 col-form-label">CVV</label>
                                <div class="col-sm-8">
                                    <div class="input-group" data-beanstream-target="ccCvv_input">
                                        <span class="input-group-addon glyphicons glyphicons-lock"></span>
                                    </div>
                                    <small data-beanstream-target="ccCvv_error" class="form-control-feedback"></small>
                                </div>
                            </div>
                            <script src="https://payform.beanstream.com/payfields/beanstream_payfields.js" data-submitForm="true"></script>
                            <button type="submit" class="btn btn-primary">
                                {{if not $card}}Register{{else}}Update{{end}}
                            </button>
                        </form>
                </section>
                <hr>
                <section>
                    {{$student := and .Session.Billing .Session.Billing.Student}}
                    <h4>Membership dues</h4>
                    <form id="billing" class="px-2 px-sm-3" method="post" action="/member/billing">
                        <fieldset class="form-group mb-2 mb-sm-3">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="rate" class="custom-control-input" value="regular"{{if not $student}} checked{{end}}>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><b>Regular</b> ($50/month)</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" id="student-rate" name="rate" class="custom-control-input" value="student"{{if $student}} checked{{end}}>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><b>Student</b> ($30/month)</span>
                            </label>
                        </fieldset>
                        <fieldset id="student"{{if not $student}}class="text-muted" disabled{{end}}>
                            <legend class="h5 mb-0 mb-sm-2">Student info</legend>
                            <div class="form-group row mb-2"> 
                                <label for="institution" class="col-sm-4 col-form-label">Institution name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="institution" name="institution" {{with $student}} value="{{.Institution}}" required{{end}}>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <div class="form-group row mb-sm-2">
                                <label for="graduation" class="col-sm-4 col-form-label">Expected graduation</label>
                                <div class="col-sm-8">
                                    <input type="month" class="form-control" id="graduation" name="graduation"{{with $student}} value="{{.Graduation_date.Format "2006-01"}}" required{{end}}>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit" name="update" class="btn btn-secondary">Update</button>
                        {{if not .Member.Active}}
                        <button type="submit" name="register" class="d-inline-flex btn btn-primary"{{if not $card}} disabled{{end}}>Register</button>
                        {{end}}
                        {{if not $card}}
                        <p class="d-inline-flex alert alert-warning ml-3">You must register a credit card.</p>
                        {{end}}
                    </form>
                </section>
            </div>
        </div>
{{template "footer"}}
    </div>
