{{$talk_url := .Url}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8 px-5 py-3">
{{if not .Member.Agreed_to_terms}}
        <p class="alert alert-info">
          Please read and agree to the <a href="/terms">Terms &amp; Conditions</a> before registering to become a member, or making use of Makerspace as a guest.
        </p>
{{else if and (not .Member.Gratuitous) (not .Member.Membership_invoice)}}
        <p class="alert alert-info">
          Please set up <a href="/member/billing">billing</a> and register to become a member.
        </p>
{{else if not .Member.Approved}}
        <p class="alert alert-info">Your membership is pending approval.</p>
{{end}}
{{with .Talk_user}}
        <h4>
          <a href="{{$talk_url}}/users/{{.Username}}/messages">
            <span class="glyphicons glyphicons-message-full align-baseline"></span>
            <span class="title-link">Messages</span>
          </a>
        </h4>
        <table class="table table-sm table-responsive table-striped" id="dashboard-messages">
          <thead>
            <tr>
              <th><span style="font-size: 80%" class="align-baseline glyphicons glyphicons-message-forward mr-2"></span>Title</th>
              <th>Posters</th>
              <th>Replies</th>
              <th>Last reply</th>
            </tr>
          </thead>
          <tbody>
  {{range .Get_messages 8}}
    {{$last_poster := .Last_poster}}
    {{$orig_poster := .Original_poster}}
    {{$last_and_orig := (and (eq $orig_poster $last_poster) $last_poster)}}
            <tr{{if not .Read}} class="bg-warning"{{end}}>
              <td><a href="{{.Url}}">{{.Title}}</a></td>
              <td class="avatars">
                {{/*TODO: changed out $orig_poster for external-id*/}}
                <a href="/member/{{$orig_poster}}" title="{{$orig_poster}} - Original poster{{if $last_and_orig}}, Most recent poster{{end}}"{{if $last_and_orig}} style="box-shadow: 0 0 4px 2px #a7d5ec"{{end}}><img src="{{$orig_poster | index .Poster_avatars}}"></a>
    {{range $u, $a := .Poster_avatars}}
      {{if not (or (eq $u $orig_poster) (eq $u $last_poster))}}
                <a class="hidden-xs-down" href="/member/{{$u}}" title="{{$u}}"><img src="{{$a}}"></a>
      {{end}}
    {{end}}
    {{if not $last_and_orig}}
                <a class="hidden-xs-down" href="/member/{{$last_poster}}" title="{{$last_poster}} - Most recent poster"><img src="{{$last_poster | index .Poster_avatars}}"></a>
    {{end}}
              </td>
              <td>{{.Reply_count}}</td>
              <td><small>{{.Last_post.Format "2006-01-02"}}</small></td>
            </tr>
  {{else}}
            <tr><td colspan="4">You have no messages.</td></tr>
  {{end}}
          </tbody>
        </table>
        <hr>
{{end}}
      </div>
    </div>
  </div>
