<header id="ms-header" class="container">
  <a class="ms-header-logo">
    <img src="/logo-wide-text.svg" alt="Victoria Makerspace">
  </a>
  <nav class="ms-top-menu">
    <ul class="session">
      <li><a href="/talk/"><span class="glyphicons glyphicons-conversation"></span><span>Talk</span></a></li>
      <li><a href="/member/dashboard"><span class="glyphicons glyphicons-dashboard"></span><span>Dashboard</span></a></li>
      <li><a href="/tools"><span class="glyphicons glyphicons-claw-hammer"></span><span>Tools</span></a></li>
      <li><a href="/member/billing"><span class="glyphicons glyphicons-pen"></span><span>Billing</span></a></li>
      <li><a href="/member/storage"><span class="glyphicons glyphicons-cargo"></span><span>Storage</span></a></li>
      <li><a href="/members"><span class="glyphicons glyphicons-group"></span><span>Members</span></a></li>
      <li><a href="/member/profile"><span class="glyphicons glyphicons-user"></span><span>Profile</span></a></li>
      <li><a href="/member/preferences"><span class="glyphicons glyphicons-cogwheel"></span><span>Preferences</span></a></li>
    </ul>
    <ul class="anon">
      <li><a href="/"><span class="glyphicons glyphicons-home"></span><span>Home</span></a></li>
      <li><a href="/talk/"><span class="glyphicons glyphicons-conversation"></span><span>Talk</span></a></li>
      <li><a href="/tools"><span class="glyphicons glyphicons-claw-hammer"></span><span>Tools</span></a></li>
      <li><a href="/join"><span class="glyphicons glyphicons-user-add"></span><span>Join</span></a></li>
      <li><a href="/sso"><span class="glyphicons glyphicons-log-in"></span><span>Sign in</span></a></li>
      </li>
    </ul>
  </nav>
</header>
