    <div class="container">
        <h2>Join Makerspace</h2>
        <p>Before you can become a member, you should attend an open-house.  Open-house nights are on the 2nd and 4th Tuesday of each month, from 7 to 9pm.</p>
        <form id="join" method="post" action="/join">
            <div class="row">
                <div class="col-md-9 col-lg-7 col-xl-6">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-10">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" id="username" name="username" class="form-control" minlength="3" maxlength="20" autofocus required>
                            </div>
                            <small class="form-control-feedback"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-10">
                            <div class="input-group">
                                <span class="input-group-addon glyphicons glyphicons-user"></span>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <small class="form-control-feedback"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-10">
                            <div class="input-group">
                                <span class="input-group-addon glyphicons glyphicons-envelope"></span>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <small class="form-control-feedback"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-10">
                            <div class="input-group">
                                <span class="input-group-addon glyphicons glyphicons-fingerprint"></span>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <small class="form-control-feedback"></small>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" name="join" class="btn btn-primary">Submit</button>
        </form>
{{template "footer"}}
    </div>
