  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h2>Join Makerspace</h2>
        <form id="join" method="post" action="/join">

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-envelope"></span>
                <input type="email" class="form-control" name="email" autofocus required>
              </div>
              <small class="form-control-feedback"></small>
            </div>
          </div>

          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" name="username" class="form-control" minlength="3" maxlength="20" {{with .PostFormValue "username"}}value="{{.}}"{{else}}autofocus{{end}} required>
              </div>
              <small class="form-control-feedback"></small>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-user"></span>
                <input type="text" class="form-control" name="name" {{with .PostFormValue "name"}}value="{{.}}" {{else}}{{if .PostFormValue "username"}}autofocus {{end}}{{end}}required>
              </div>
              <small class="form-control-feedback"></small>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-envelope"></span>
                <input type="email" class="form-control" value="{{.Data.email}}" disabled>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-10 col-lg-8">
              <div class="input-group">
                <span class="input-group-addon glyphicons glyphicons-fingerprint"></span>
                <input type="password" class="form-control" name="password" {{if and (.PostFormValue "username") (.PostFormValue "name")}}autofocus {{end}}required>
              </div>
              <small class="form-control-feedback"></small>
            </div>
          </div>

{{with .Form.token}}
          <input type="hidden" formaction="get" name="token" value="{{.}}">
{{end}}
          <button type="submit" name="join" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
