<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>{{if .Title}}{{.Title}} - {{end}}Victoria Makerspace</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body{{if eq .Name "index"}} data-spy="scroll" data-target="#navbar"{{end}}>
{{if eq .Member.Username ""}}
    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Member sign-in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="modal-body" action="/" method="post" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <small class="form-control-feedback"></small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                        <small class="form-control-feedback"></small>
                    </div>
                    <div class="float-left">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" name="save_session" class="custom-control-input" checked>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Remember me</span>
                        </label>
                    </div>
                    <button type="submit" name="signin" value="true" class="float-right btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-toggleable-sm navbar-light fixed-top">
        <div class="container">
            <a class="navbar-toggler navbar-toggler-right nav-link glyphicons glyphicons-menu-hamburger" role="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"></a>
            <a class="navbar-brand" href="/">
                <img src="/logo-simple-text.svg" alt="Victoria Makerspace">
            </a>
            <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="navbar">
                <li class="nav-item">
                    <a class="nav-link" href="{{if ne .Name "index"}}/{{end}}#shop-features"><span class="glyphicons glyphicons-hand-saw"></span> shop features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><span class="glyphicons glyphicons-book-open"></span> classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/talk"><span class="glyphicons glyphicons-conversation"></span> talk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{{if eq .Name "join"}} active{{end}}" href="/join"><span class="glyphicons glyphicons-user-add"></span> &nbsp;join</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin" data-toggle="modal" data-target="#signin"><span class="glyphicons glyphicons-log-in"></span> sign in</a>
                </li>
            </ul>
        </div>
    </nav>
{{else}}
    <nav class="navbar navbar-toggleable-xs navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/logo-simple-text.svg" alt="Victoria Makerspace">
            </a>
            <ul class="navbar-nav navbar-collapse justify-content-end" id="navbar">
                <li class="nav-item">
                    <a class="nav-link glyphicons glyphicons-conversation" href="/talk" title="Talk forum"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link glyphicons glyphicons-message-empty" href="/member/messages" title="Message"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link glyphicons glyphicons-cogwheel" href="/member/preferences" title="Preferences"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link glyphicons glyphicons-user" href="/member" title="Dashboard"></a>
                </li>
                <li class="nav-item">
                    <a id="sign-out" class="nav-link glyphicons glyphicons-log-out" href="/signout" title="Sign out"></a>
                </li>
            </ul>
        </div>
    </nav>
{{end}}
{{if eq .Name "index"}}{{template "index.tmpl"}}{{end}}
{{if eq .Name "join"}}{{template "join.tmpl"}}{{end}}
        <footer>
            <hr>
            <p class="float-right">&copy; 2017 Victoria Makerspace &middot; <a class="glyphicons-social glyphicons-social-gmail" href="mailto:admin@makerspace.ca" title="E-mail"></a> <a class="glyphicons-social glyphicons-social-twitter" href="https://twitter.com/VicMakerspace" title="Twitter"></a> <a class="glyphicons-social glyphicons-social-facebook" href="https://facebook.com/VicMakerspace" title="Facebook"></a></p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>
</html>
