  <div class="member-list-heading fixed-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <h4 class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{with .Data.member_group}}
  {{if eq . "all"}}
              All
  {{else if eq . "active"}}
              Active
  {{else if eq . "new"}}
              New
  {{end}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item{{if eq . "all"}} active{{end}}" href="/member/list">All</a>
              <a class="dropdown-item{{if eq . "active"}} active{{end}}" href="/member/list/active">Active</a>
              <a class="dropdown-item{{if eq . "new"}} active{{end}}" href="/member/list/new">New</a>
{{end}}
            </div>
            Members
{{if $.Admin}}
            <a href="/admin/list" class="glyphicons glyphicons-wrench float-right p-2"></a>
{{end}}
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
{{if ne .Data.member_group "new"}}
        <span class="text-muted">
          {{len .Data.member_list}}
  {{if ne .Data.member_group "all"}}
          {{.Data.member_group}}
  {{end}}
          members
        </span>
{{end}}
{{with .Data.member_list}}
        <table class="table table-responsive table-hover text-nowrap member-list">
          <thead>
            <tr>
  {{with $.Data.member_group}}
    {{if eq . "new"}}
              <th class="w-100 py-1">
                <form action="/member/list/new" method="get" class="d-flex">
                  <div class="input-group" style="width: inherit">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-sm btn-secondary">Limit</button>
                    </span>
                    <input type="number" name="limit" class="form-control" value="{{len $.Data.member_list}}" style="width: 4rem">
                  </div>
                </form>
              </th>
    {{else}}
              <th class="w-100"></th>
    {{end}}
    {{if eq . "active"}}
              <th>Last seen</th>
    {{end}}
  {{end}}
              <th>Registered</th>
            </tr>
          </thead>
          <tbody>
  {{range .}}
            <tr{{if $.Session}}{{if eq .Id $.Member.Id}} class="table-info"{{end}}{{end}}>
              <td>
                <div class="d-flex">
                  <a href="/member/{{.Id}}" class="member-icon">
                    {{with .Avatar_url 48}}
                    <img src="{{.}}">
                    {{else}}
                    <div class="glyphicons glyphicons-user"></div>
                    {{end}}
                  </a>
                  <div class="flex-column mx-3">
                    <a href="/member/{{.Id}}" class="d-block">
                      @{{.Username}}
                    </a>
    {{if $.Session}}
                    <span class="small">{{.Name}}</span>
    {{end}}
                  </div>
                </div>
              </td>
    {{if eq $.Data.member_group "active"}}
              <td>
                <small class="text-muted">
                  {{fmt_time .Last_seen}}
                </small>
              </td>
    {{end}}
    {{if eq $.Data.member_group "new"}}
              <td>{{fmt_time .Registered}}</td>
    {{else}}
              <td>{{.Registered.Format "Jan 02, 2006"}}</td>
    {{end}}
            </tr>
  {{end}}
          </tbody>
        </table>
{{end}}
      </div>
    </div>
  </div>
