  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <h4 class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/member/list/approved">Approved</a>
          </div>
          Members
        </h4>
{{with .Get_all_members}}
        <span class="text-muted">{{len .}} members</span>
        <table class="table table-hover text-nowrap member-list">
          <thead>
            <tr>
              <th></th>
              <th>Registered</th>
            </tr>
          </thead>
          <tbody>
  {{range .}}
            <tr{{if $.Session}}{{if eq .Id $.Member.Id}} class="table-info"{{end}}{{end}}>
              <td>
                <a href="/member/{{.Id}}" class="member-icon">
                  {{with .Avatar_url}}
                  <img src="{{.}}">
                  {{else}}
                  <div class="glyphicons glyphicons-user"></div>
                  {{end}}
                </a>
                <div class="flex-column mx-2">
                  <a href="/member/{{.Id}}" class="d-block">
                    @{{.Username}}
                  </a>
    {{if $.Session}}
                  <span class="small">{{.Name}}</span>
    {{end}}
                </div>
              </td>
              <td>{{.Registered.Format "Jan 02, 2006"}}</td>
            </tr>
  {{end}}
          </tbody>
        </table>
{{else}}
        <table class="table">
          <tbody>
            <tr><td><em class="text-muted">No members.</em></td></tr>
          </tbody>
        </table>
{{end}}
      </div>
    </div>
  </div>
