{{define "reset-form"}}
      <p>Please verify your e-mail address.</p>
      <form action="/sso/reset" method="post">
        <div class="form-group{{if .Data.username_error}} has-danger{{end}}">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" name="username" placeholder="Username" required {{with .Data.username}}value="{{.}}"{{else}}autofocus{{end}}>
          </div>
          <small class="form-control-feedback{{with .Data.username_error}} show">{{.}}{{else}}">{{end}}</small>
        </div>
        <div class="form-group{{if .Data.email_error}} has-danger{{end}}">
          <div class="input-group">
            <span class="input-group-addon glyphicons glyphicons-envelope"></span>
            <input type="email" class="form-control" name="email" placeholder="E-mail" required{{with .Data.email}} value="{{.}}"{{else}}{{if .Data.username}} autofocus{{end}}{{end}}>
          </div>
          <small class="form-control-feedback{{with .Data.email_error}} show">{{.}}{{else}}">{{end}}</small>
        </div>
        <button type="submit" name="reset-password" class="btn btn-primary"{{if .Data.username}}{{if .Data.email}} autofocus{{end}}{{end}}>
          Send
        </button>
      </form>
{{end}}
  <div class="container">
    <section class="modal-dialog">
      <h4 class="mb-3">Reset password</h4>
{{if .Data.token_error}}
      <p class="alert alert-danger">Invalid reset token.</p>
  {{template "reset-form" .}}
{{else if .Data.token}}
      <form method="post" action="/sso/reset">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicons glyphicons-fingerprint"></span>
            <input type="password" class="form-control" name="password" placeholder="New password" required>
          </div>
        </div>
        <input type="hidden" name="token" value="{{.Data.token}}">
        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
{{else if .Data.reset_send_success}}
      <p class="alert alert-success">Reset e-mail sent.  Reset tokens expire after {{index .Members.Config "password-reset-window"}}.</p>
{{else}}
  {{template "reset-form" .}}
{{end}}
    </section>
  </div>
