  <div class="container">
    <section class="modal-dialog">
      <h4 class="mb-3">Reset password</h4>
      <p>Please verify your E-mail address.</p>
      <form action="/sso/reset" method="post">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" name="username" placeholder="Username" required {{with .PostFormValue "username"}}value="{{.}}"{{else}}autofocus{{end}}>
          </div>
          <small class="form-control-feedback"></small>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon glyphicons glyphicons-envelope"></span>
            <input type="email" class="form-control" name="email" placeholder="E-mail" required{{if .PostFormValue "username"}} autofocus{{end}}>
          </div>
          <small class="form-control-feedback"></small>
        </div>
        <button type="submit" name="reset-password" class="mb-auto btn btn-primary">Reset</button>
      </form>
    </div>
  </div>
