    <div class="container">
      <section class="modal-dialog">
        <h4 class="mb-3">Member sign-in</h4>
        <form action="/sso" method="post">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
            </div>
            <small class="form-control-feedback"></small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon glyphicons glyphicons-fingerprint"></span>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <small class="form-control-feedback"></small>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column align-items-end">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="save-session" class="custom-control-input" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Remember me</span>
              </label>
              <a class="small mr-3" href="/sso/reset">Reset password</a>
            </div>
            <button type="submit" name="sign-in" class="mb-auto btn btn-primary">Sign in</button>
          </div>
        </form>
      </div>
{{template "footer"}}
    </div>
