  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <p class="alert alert-warning">
          The storage waitlist is not currently implemented.  Please <span class="text-nowrap">e-mail</span> <a href="mailto:storage@makerspace.ca">storage@makerspace.ca</a> for information about storage availabilities.
        </p>
{{if not .Has_card}}
        <p class="alert alert-warning">
          You must <a href="/member/billing">register</a> a credit card before leasing available storage.
        </p>
{{end}}
        <div class="row no-gutters justify-content-center">
{{range .List_storage_plans}}
  {{$storage := $.List_storage .}}
          <div class="col col-lg-auto">
  {{with index $storage 0}}
            <h5 class="">{{.Plan.Name}}</h5>
    {{with index .Plan.Meta "notice"}}
            <small class="pl-sm-2 align-top text-muted">{{.}}</small>
    {{end}}
  {{end}}
            <table class="px-sm-2 table table-sm table-responsive text-nowrap text-center">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="d-md-none w-100">Owner</th>
                  <th class="d-none d-md-table-cell">Owner</th>
                  <th>Fee <span class="small text-muted">(monthly)</span></th>
                  <th class="text-center">Waitlist</th>
                </tr>
              </thead>
              <tbody>
  {{range $storage}}
                <tr{{if not .Available}} class="text-muted"{{else if .Member}}{{if eq .Member.Id $.Member.Id}} class="table-success"{{end}}{{end}}>
                  <th scope="row">{{.Number}}</th>
                  <td class="text-left">
    {{with .Member}}
                    <a href="/member/{{.Id}}">@{{.Username}}</a>
    {{else}}
                    <span class="ml-2">-</span>
    {{end}}
                  </td>
                  <td>
    {{if .Available}}
                    {{fmt_money (mul .Quantity .Plan.Amount)}}
    {{else}}
                    -
    {{end}}
                  </td>
                  <td>
    {{if not .Available}}
                    <small>Unavailable</small>
    {{else if not .Member}}
      {{if $.Has_card}}
                    <form method="post" action="/member/storage">
                      <input type="hidden" name="register-storage-plan" value="{{.Plan.ID}}">
                      <button type="submit" name="register-storage-number" value="{{.Number}}" class="btn btn-sm btn-info">Available</button>
                    </form>
      {{else}}
                    <button type="button" class="btn btn-sm btn-outline-info" disabled>Available</button>
      {{end}}
    {{else if eq $.Member.Id .Member.Id}}
                    <a href="/member/billing#Subscriptions" class="btn btn-sm btn-warning">Cancel</a>
    {{else}}
                    <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Waitlist</button>
    {{end}}
                  </td>
                </tr>
  {{end}}
              </tbody>
            </table>
          </div>
{{end}}
        </div>
      </div>
    </div>
  </div>
