    <div class="container">
        <form id="waiver" action="" method="post">
            <h4>Waiver</h4>
            <p>Sign and upload the <a href="/liability-waiver.pdf" id="waiver" download>liability waiver <span class="glyphicons glyphicons-download-alt"></span></a></p>
            <div class="row">
                <div class="col-md-9 col-lg-7 col-xl-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon glyphicons-filetypes glyphicons-filetypes-pdf"></span>
                        <input type="file" accept=".pdf" class="form-control-file" id="waiver" name="waiver" required>
                    </div>
                    <div class="form-control-feedback"></div>
                </div>
            </div>
        <input type="hidden" name="waiver" value="true">
        </form>
{{template "footer"}}
    </div>
